click==6.7
dateparser==0.6.0
dbconfig==0.3.2
Django==1.11.3
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
opencv==1.0.1
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.2
regex==2017.7.26
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.22
six==1.10.0
tzlocal==1.4
Werkzeug==0.12.2
